useDynLib(sraplus, .registration=TRUE); useDynLib(sraplus_TMBExports)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(foreach,"%dopar%")
importFrom(foreach,"%do%")
importFrom(stats, "median", "quantile", "rnorm", "runif", "sd")
importFrom(ggplot2,"ggplot", "aes")
